@{
    ViewData["Title"] = "Home Page";
}
<h2>Welcome to your Music Manager!</h2>
@*<p>Pretend we have a fancy splashpage here, click on <a href="../Music/Search">Music Search</a> plz</p>*@
<p>To search for music <a href="../Music/Search">Click Here!</a></p>