@{
    ViewData["Title"] = "Music Search";
}
<h3>Search!</h3>
<br />
<h4>Can search by album or artist</h4>
<br />
<form action="../Music/SearchResult" method="post">
    <input type="radio" id="album" name="searchtype" value="album" />
    <label for="album">Album</label>
    <br />
    <input type="radio" id="artist" name="searchtype" value="artist" />
    <label for="artist">Artist</label>
    <br />
    <input type="text" name="userInput" />
    <br />
    <input type="submit" value="Submit" class="btn btn-success" />
</form>